[core]
  autocrlf = input # use LF line endings
  excludesfile = ~/.gitignore # set as global `.gitignore`

# `git status` colorized output

[color "branch"]
  current = yellow
  local = green
  remote = magenta
  upstream = bold cyan
[color "diff"]
  meta = cyan bold
  frag = normal bold
  old = red
  new = green
  whitespace = magenta reverse
[color "status"]
  added = green
  changed = yellow
  untracked = red
[help]
  autocorrect = 10 # autocorrects misspelled commands after a 1 second delay
[push]
  default = simple # only push the current branch
