# Binaries

*.deb
*.dmg
*.exe
*.msi
*.rpm

# Jekyll

.sass-cache/
_site/
.jekyll-metadata

# macOS

._*
*.DS_Store

# Package managers

bower_components/
node_modules/
*.log
npm-debug.log*

# Windows

ehthumbs.db
Desktop.ini
Thumbs.db
