[core]
  autocrlf = input # Use LF line endings
  editor = "atom --wait" # Use Atom for Git commits
  excludesfile = ~/.gitignore # Set as global gitignore

# Various status color overrides

[color "branch"]
  current = yellow
  local = green
  remote = magenta
  upstream = bold cyan
[color "diff"]
  meta = cyan bold
  frag = normal bold
  old = red
  new = green
  whitespace = magenta reverse
[color "status"]
  added = green
  changed = yellow
  untracked = red
[help]
  autocorrect = 10 # Autocorrect misspelled commands after a 1 second delay
