"*":
  autosave:
    enabled: true
  core:
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\""
    showIndentGuide: true
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  welcome:
    showOnStartup: false
