# More info: https://flight-manual.atom.io/using-atom/sections/basic-customization/

"*":
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    useCustomTitleBar: true
  editor:
    fontFamily: "Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\""
    showIndentGuide: true
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  welcome:
    showOnStartup: false
